.comment.clearfix
  .content
    %p.comment_content= comment.comment
    %p.comment_author= comment.user.email
  .buttons
    = link_to "Delete Reply", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?"}
    = link_to "Edit", edit_post_comment_path(comment.post, comment)