#posts
  - @posts.each do |post|
    .post
      %h2.title= link_to post.title, post 
      %p.date
        Published at
        = time_ago_in_words(post.created_at)
        by 
        = post.user.email


  
