#post_content
  %h1= @post.title
  %p= @post.content

  #comments
    %h2
      = @post.comments.count 
      Comments
    = render @post.comments 
    
    - if user_signed_in?
      %h3 Reply to thread 
      = render "comments/form"
  
  %hr/
  %br/

  = link_to "Edit", edit_post_path(@post), class: "button"
  = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you wanna do this?"}, class: "button"
  = link_to "Home", root_path, class: "button"