!!! 
%html
%head
  %title FORUM  
  = csrf_meta_tags 
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{ rel: "stylesheet",  href: "https://fonts.googleapis.com/css?family=Pacifico" , type: "text/css" }
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %header.main_header.clearfix
    .wrapper 
      #logo 
        %p= link_to "FORUM", root_path 
      #buttons
        - if user_signed_in?
          = link_to "New Post", new_post_path
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else 
          = link_to "Sign Up", new_user_registration_path
          = link_to "Sign In", new_user_session_path
  .wrapper
    %p.notice= notice 
    %p.alert= alert 
  .wrapper
    = yield

